<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>
</script>

<header id="header" class="header">
  <div class="pull-left h-logo">
    <img src='https://s18.postimg.org/s0k7wgl11/logo_light.png'
         alt='Logo'
         onClick='/'
         className='logo' />
  </div>
</header>
  <main id="root"></main>
