$blue: #2196f3;
$darker-red: #d22c40;
$background-color: #edecec;
$dark-font: #333333;

.search-dropdown {
  position: absolute;
  top: -163px;
  width: 100%;
}

.header .select2-selection:focus {
  box-shadow: none;
  outline: 0 none;
}

.header .select2-selection {
  background: $darker-red;
}

.header .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: white;
}

.select2-container--open .select2-dropdown--below {
  border: 1px solid #ddd;
}

.header .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: none;
  border-style: none;
}

.header .select2-selection__rendered {
  color: white !important;
}
