/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


// Variables

$header-color: #ff3850;
$darker-red: #b04b40;
$background-color: #edecec;


// body

body {
  background: $background-color;
  font-family: 'Open Sans', sans-serif;
}

.app {
  display: flex;
}

// Header

.header {
  background: $header-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  height: 250px;
}

// Sidebar

.sidebar {
  display: flex;
  justify-content: flex-start;
  height: calc(100% - 250px);
  width: 200px;
  padding: 30px;
}

.sidebar ul {
  padding: 0;
}

.sidebar li {
  list-style-type: none;
  padding: 5px;
}

.sidebar li:hover {
  color: $darker-red;
  cursor: pointer;
}

.sidebar .current-page {
  color: $header-color;
}

.sidebar i {
  list-style-type: none;
  margin-right: 5px;
}

.sidebar span {
  font-weight: bold;
}

.sm-sidebar-icon {
  display: none;
}

@media (max-width: 835px) {
  .sidebar {
    display: none;
  }

  .sidebar .show {
    display: block;
  }

  .sm-sidebar-icon {
    display: block;
    font-size: 40px;
    color: #fff;
  }
}

// Content

.content {
  padding: 30px;
}
.main {
  background: purple;
  background-image: url('https://s14.postimg.org/rs2hkrp19/image.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: absolute;
    top: 150px;
  width: calc(100% - 250px);
  height: 250px;
  padding: 20px;
}

@media (max-width: 835px) {
  .main {
    width: calc(100% - 60px);
  }
}

@media (max-width: 645px) {
  .main {
    background-size: auto 100%;
  }
}

// Button Overrides

.btn-primary {
  background-color: #2196f3;
}
.btn-primary:hover {
  background-color: #2196f3;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 17px;
  line-height: 1.3333333;
  border-radius: 2px;
}

// Session Form


.session-form {
  position: absolute;
    top: 150px;
  background-image: url('https://s14.postimg.org/rs2hkrp19/image.png');
  background-repeat: no-repeat;
  background-size: auto 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  height: calc(100% - 150px) ;
  width: 100%;
  padding: 30px;
}

@media (max-height: 700px) {
  .session-form {
    background-size: 100% auto; /* Force the image to its minimum width */
  }
}

.session-form h1 {
  color: white;
  text-align: center;
}

.session-form h3 {
  color: white;
  text-align: center;
  font-weight: lighter;
}

.session-form .content {
  width: 400px;
  padding: 30px;
}

.session-submit {
  width: 50%;
}
.input {
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Yoko */
.input__field--yoko {
	z-index: 10;
	width: 100%;
	background: transparent;
	color: #fff;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label--yoko {
	position: relative;
	width: 100%;
	color: $darker-red;
	text-align: left;
}

.input__label--yoko::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 4em;
	background: $header-color;
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--yoko::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.25em;
	background: #ad473c;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--yoko {
	padding: 0.75em 0;
}

.input__field--yoko:focus,
.input--filled .input__field--yoko {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--yoko:focus + .input__label--yoko::before,
.input--filled .input__label--yoko::before {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input__field--yoko:focus + .input__label--yoko,
.input--filled .input__label--yoko {
	pointer-events: none;
}

.input__field--yoko:focus + .input__label--yoko::after,
.input--filled .input__label--yoko::after {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}

// Main
