/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require fullcalendar
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Variables

$red: #ff3850;
$darker-red: #b04b40;
$background-color: #edecec;
$blue: #2196f3;
$light-blue: #5bc0de;
$green: #00c853;
$purple: #c751ee;
$dark-purple: #a644c7;

$dark-font: #333333;

// body

body {
  background: $background-color;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: white;
}

.app {
  display: flex;
}

// Sidebar

.sidebar-icon{
  margin-left: 10px;
}

.sidebar {
  display: flex;
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  height: calc(100% - 250px);
  width: 200px;
  padding: 30px;
}

.sidebar ul {
  padding: 0;
}

.sidebar li {
  list-style-type: none;
  padding: 20px 0px;
}

.sidebar li:hover {
  color: $red;
  cursor: pointer;
}

.sidebar .current-page {
  color: $red;
}

.sidebar i {
  list-style-type: none;
  margin-right: 5px;
}

.sidebar span {
  font-weight: bold;
}

.sm-sidebar-icon {
  display: none;
}

@media (max-width: 835px) {
  .sidebar {
    display: none;
  }

  .sidebar .show {
    display: block;
  }

  .sm-sidebar-icon {
    display: block;
    font-size: 40px;
    color: #fff;
  }

}

// Content

.app-content {
  padding: 30px;
  position: relative;
  width: calc(100% - 150px);
  position: relative;
    top: -120px;
}

@media (max-width: 835px) {
  .app-content {
    width: 100%;
  }
}

.main {
  background-image: url('https://lh3.googleusercontent.com/MClXew2pCfumpPWmcBx84HNU-rXC_vhyKjASkbJCZrfS_S9QPCXt3LVyjKcZkG4XUugiyeTX-Tw=w5760-h3600-rw-no');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 250px;
  padding: 20px;
}

.main h1 {
  color: white;
}

.main h3 {
  color: white;
  text-shadow: 1px 1px 2px #444
}

@media (max-width: 835px) {
  .main {
    width: calc(100%);
  }
}

@media (max-width: 720px) {
  .main {
    background-size: auto 100%;
  }
}

// Button Overrides

.btn {
  @extend .shadow;
  color: white;
  border: none;
}

.btn:hover {
}

.btn-default {
  background-color: $background-color;
}

.btn-default:hover {
  color: #000;
}

.btn-default:focus {
  background-color: $background-color;
  box-shadow: none;
  outline: 0 none;
}

.btn-primary {
  background-color: $blue;
}

.btn-primary:focus {
  background-color: $blue;
  box-shadow: none;
  outline: 0 none;
}

.btn-info {
  background-color: $light-blue;
}

.btn-info:focus {
  background-color: $light-blue;
  box-shadow: none;
  outline: 0 none;
}

.btn-danger {
  background-color: $red;
}

.btn-danger:focus {
  background-color: $red;
  box-shadow: none;
  outline: 0 none;
}

.btn-success {
  background-color: $green;
}

.btn-success:focus {
  background-color: $green;
  box-shadow: none;
  outline: 0 none;
}

.btn-warning {
  background-color: $purple;
}

.btn-warning:focus {
  background-color: $purple !important;
  box-shadow: none !important;
  outline: 0 none !important;
}

.btn-warning:hover {
  background-color: $dark-purple;
}


.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 17px;
  line-height: 1.3333333;
  border-radius: 2px;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.button-group button {
  width: calc(33.333333%);
  margin: 0 10px 10px 0;
  height:40px;
  position: relative;
    top: 10px;
  -webkit-transition: height 1s;
  transition: height 1s;
}

.button-group button:last-of-type {
  margin-right: 0px;
}

.button-group button:focus {
  box-shadow: none;
  outline: 0 none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btn-full {
  margin: 10px 0 0 0;
  width: calc(100%);
  -webkit-transition: height 1s;
  transition: height 1s;
}

.btn-full:focus {
  box-shadow: none;
  outline: 0 none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btn-1-2 {
  padding: 0;
  width: 12%;
  margin: 5px;
  min-width: 55px;

}

/* Yoko */
.input__field--yoko {
	z-index: 10;
	width: 100%;
	background: transparent;
	color: #fff;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label--yoko {
	position: relative;
	width: 100%;
	color: $darker-red;
	text-align: left;
}

.input__label--yoko::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 4em;
	background: $red;
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--yoko::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #ad473c;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--yoko {
	padding: 0.75em 0;
}

.input__field--yoko:focus,
.input--filled .input__field--yoko {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--yoko:focus + .input__label--yoko::before,
.input--filled .input__label--yoko::before {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input__field--yoko:focus + .input__label--yoko,
.input--filled .input__label--yoko {
	pointer-events: none;
}

.input__field--yoko:focus + .input__label--yoko::after,
.input--filled .input__label--yoko::after {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}

/* Form */
.input__field--form {
	z-index: 10;
	width: 100%;
	background: transparent;
	color: #000;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label--form {
	position: relative;
  bottom: 0;
	width: 100%;
	color: #fff;
	text-align: left;
}

.input__label--form::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 4em;
	background: #fff;
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--form::after {
	content: '';
	position: absolute;
	top: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #ddd;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.dark_form::before {
	background: #ddd;
}

.dark_form::after {
	background: #ccc;
}

.input__label-content--form {
	padding: 0.75em 0;
}

.input__field--form:focus,
.input--filled .input__field--form {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--form:focus + .input__label--form::before,
.input--filled .input__label--form::before {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input__field--form:focus + .input__label--form,
.input--filled .input__label--form {
	pointer-events: none;
}

.input__field--form:focus + .input__label--form::after,
.input--filled .input__label--form::after {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}

// App Forms

.btn-tall {
  height: 60px;
}

.form-container {
  transition: all 1s;

  width: 100%;

  display: block;
  line-height:0;
  height: 0;
  overflow: hidden;

  padding: 0px;
  margin: 0;
  color: white;
  // -webkit-transition: height 1s, padding 1s;
  // transition: height 1s, padding 1s;

  &.expand {
    height: 200px
  }

}


.form-default {
  @extend .shadow;
  border-radius: 2px;
  background: white;
  color: $dark-font
}

.form-primary {
  @extend .shadow;
  border-radius: 2px;
  background: $blue;
}

.form-info {
  @extend .shadow;
  border-radius: 2px;
  background: $light-blue;
}

.form-danger {
  @extend .shadow;
  border-radius: 2px;
  background: $red;
}

.form-success {
  @extend .shadow;
  border-radius: 2px;
  background: $green;
}

.form-left {
  border-top-left-radius: 0px;
}

.form-right {
  border-top-right-radius: 0px;
}

.form-buffer {
  height: inherit;
}

.form {
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.form-input {
  margin: 0 30px;
  width: calc(100% - 150px);
}

.form-button {
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
  border-left: 1px solid #ddd;
}
.form-button:hover {
  cursor: pointer;
}

.form-button-back {
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
  border-right: 1px solid #ddd;
}
.form-button-back:hover {
  cursor: pointer;
}

// application index

.table-container {
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.table-header {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.table tr:hover td {
  cursor: pointer;
  color: white;
  background-color: $light-blue !important;
}

// Application Page

.modules-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

// Progress Bar

.progress-bar {
  flex: 1 100%;
  width: 100%;
  height: 100px;
  background: white;
  color: $dark-font;
  padding: 25px;
  margin: 10px 0;
}

.progress-names {
  display: flex;
  justify-content: space-between;
}

.bar-background {
  width: 100%;
  height: 10px;
  background-color: #eee;
  margin: 10px 0;
}

.bar-filler {
  width: 0px;
  max-width: 100%;
  height: inherit;
  background-color: $green;
  -webkit-transition: width 1s;
  transition: width 1s;
}

// Misc

.shadow {
  // box-shadow: 0 0 5px #888888;
  box-shadow: none;
}

.dark-font {
  color: $dark-font;
}

// Date Picker

.react-datepicker__input-container {
  width: 100%;
}

.date-picker {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  background: #ddd;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.date-picker-label {
  font-size: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.date-picker-time {
  font-size: inherit;
  line-height: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  background: #ddd;
  border: none;
  margin-bottom: 10px;
}

input[type=time]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
