$dark-font: #333333;
$light-blue: #5bc0de;

.contact-container {
  box-sizing: border-box;

  width: calc(50% - 5px);
  margin-right: 10px;

  background: white;
}

.contact-container h3 {
  // color: $dark-font;
  margin: 0;
}

.contact-header {
  padding: 20px;
  height: 75px;
  background: $light-blue;
}

.contact-info-container {
  padding: 20px 20px;
  overflow: hidden;
  max-height: 200px;
  -webkit-transition: max-height 1s, padding 1s;
  transition: max-height 1s, padding 1s;

  &.contract {
    padding: 0px 20px;
    max-height: 0;
  }
}

.contact-info {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.contact-info .column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info .left-column *  {
  margin-bottom: 10px;
}

.contact-info .left-column *:last-of-type  {
  margin-bottom: 0px;
}

.contact-info .right-column * {
  margin-bottom: 15px;
}

.contact-info .right-column *:last-of-type {
  margin-bottom: 0px;
}

.contact-info span {
  margin-left: 10px;
}

.btn-contact {
  width: calc(100% - 20px);
  margin: 10px;
  margin-bottom: 10px !important;
}
